body {
    margin: 0;
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
}
nav {
    border: 1px solid black;
    background-color: #36352f;
}
ul {
    text-align: center;
    list-style: none;
    padding: 0px;
}
li {
    margin-bottom: 10px;
    background-color: #57554b;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color:#cbeada;
}
main {
    text-align: center;
    background-color: #c4c0a7;
    word-wrap: break-word;
    padding: 0px 30px 30px 30px;
}
aside {
    text-align: center;
}
.article-bottom {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: #c4c0a7;
}
.article-normo {
    border-top: 3px solid black;
    background-color: #c4c0a7;
    padding: 0;
    
}
p {
    margin: 0;
}